@charset "UTF-8";
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a4161a;
  border-radius: 20px;
  width: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  -webkit-animation: showBody 1s ease-in;
          animation: showBody 1s ease-in;
}

@-webkit-keyframes showBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1%;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  right: 20px;
  background-color: #161A1D;
  padding-left: 23px;
}

.menuBtn span {
  width: 24px;
  height: 3px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #a4161a;
  transition: all 0.5s;
  border-radius: 2px;
}

.menuBtn span:nth-of-type(2) {
  top: calc(40% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(55% + 5px);
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: 1s;
}
header .logo {
  position: relative;
  height: 80px;
  width: 80px;
  transition: 0.5s;
}
header .logo img {
  left: -5px;
  position: absolute;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  margin-left: -50px;
}
header ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.2s;
  font-weight: 400;
}
header ul a:hover {
  color: #FF4343;
}
header ul a.active {
  color: #FF4343;
}
header button {
  margin-right: 20px;
  background: #a4161a;
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border-radius: 40px;
  transition: 0.5s;
}
header button:hover {
  background-color: black;
  color: #FF4343;
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 1s;
}
.link:hover {
  transition: 1s;
}
.link:hover .link-show {
  transition: 1s;
  opacity: 1;
}
.link .link-show {
  opacity: 0;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  top: 25px;
  position: absolute;
  transition: 0.5s;
}
.link .link-show li {
  margin: 10px;
}
.link .link-show a:hover {
  color: #FF4343;
}
.link .link-show a.active {
  color: #FF4343;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/img/home.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
.home .home-text {
  margin-left: 60px;
  margin-top: 50px;
  -webkit-animation: showHome 1.5s both;
          animation: showHome 1.5s both;
}
.home .home-text h2 {
  font-size: 45px;
  width: 90%;
  color: #E6E6E6;
  font-weight: 600;
}
.home .home-text p {
  margin-top: 30px;
  font-size: 45px;
  color: #a4161a;
  font-weight: 600;
}
.home .home-text p:nth-of-type(2) {
  color: #E6E6E6;
  width: 70%;
  font-size: 18px;
  font-weight: 300;
}
.home .home-text p:nth-of-type(3) {
  color: #E6E6E6;
  width: 70%;
  font-size: 18px;
  font-weight: 300;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
}
.whatsapp img {
  width: 50px;
}

.messenger-act {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 50px;
}

.messenger-act img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.messenger {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 50px;
}

.messenger img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.ph {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.iconMessenger {
  width: 20px;
}

@-webkit-keyframes showHome {
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(-100%, 0%, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}

@keyframes showHome {
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(-100%, 0%, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes showForm {
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
@keyframes showForm {
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-animation: showForm 1.5s both;
          animation: showForm 1.5s both;
}
.container .form-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container h3 {
  color: #161A1D;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.container p {
  color: #161A1D;
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container .form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container .form-row input {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}
.container .form-row input::-moz-placeholder {
  font-size: 18px;
  text-align: center;
}
.container .form-row input:-ms-input-placeholder {
  font-size: 18px;
  text-align: center;
}
.container .form-row input::placeholder {
  font-size: 18px;
  text-align: center;
}
.container button {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  background-color: #a4161a;
  cursor: pointer;
  color: white;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.container button:hover {
  background-color: #161A1D;
  color: #FF4343;
}

.reservation {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #161A1D;
  background-image: url(/img/home.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -200;
  color: #E6E6E6;
  padding: 20px;
  overflow-y: scroll;
}
.reservation hr {
  border: 1px solid rgba(230, 230, 230, 0.1);
  margin-top: -30px;
  width: 100%;
}
.reservation.showForm {
  opacity: 1;
  z-index: 200;
  -webkit-animation: showForm 1s both;
          animation: showForm 1s both;
}
.reservation .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.reservation .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservation .form-group label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.reservation .form-group label span {
  color: #a4161a;
}
.reservation .form-group input {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
}
.reservation .form-auto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reservation .form-auto label {
  font-size: 30px;
}
.reservation .form-auto .input-car {
  color: #E6E6E6;
  background-color: rgba(22, 26, 29, 0);
  text-align: center;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid #a4161a;
}
.reservation #blockPlace {
  display: none;
}
.reservation #blockPlace.active {
  display: flex;
}
.reservation .form-group__del {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservation .form-group__del label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.reservation .form-group__del label span {
  color: #a4161a;
}
.reservation .form-group__del input {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
}
.reservation .form-group__rec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservation .form-group__rec label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.reservation .form-group__rec label span {
  color: #a4161a;
}
.reservation .form-group__rec input {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
}
.reservation button {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #a4161a;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.reservation button:hover {
  opacity: 0.7;
}

.options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.options p {
  font-size: 25px;
}

.options-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.options-group label {
  font-size: 18px;
}
.options-group input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.options-group input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.options-group input + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.options-group input:checked + label::before {
  border-color: #a4161a;
  background-color: #a4161a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.place {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.place p {
  font-size: 20px;
}
.place p span {
  color: #a4161a;
}

.place-button button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #a4161a;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.place-button button:hover {
  opacity: 0.7;
}

.reservation-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.reservation-title .logo {
  margin-top: -30px;
}
.reservation-title h3 {
  text-align: center;
  margin-left: -100px;
  font-size: 25px;
  font-weight: 400;
}
.reservation-title .close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}
.reservation-title .close span {
  left: 5px;
  top: 16px;
  position: absolute;
  width: 30px;
  height: 1px;
  transform: rotate(45deg);
  border: 1px solid white;
}
.reservation-title .close span:nth-of-type(2) {
  transform: rotate(-45deg);
}

.catalog {
  background-color: black;
  padding: 20px 50px 50px 50px;
  margin-top: -100px;
}
.catalog .catalog-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catalog .catalog-about h2 {
  font-size: 60px;
  font-weight: 500;
  color: #a4161a;
}
.catalog .catalog-about a {
  text-decoration: none;
}
.catalog .catalog-about .catalog-about__more p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #a4161a;
  font-size: 18px;
  gap: 15px;
}
.catalog .catalog-about .catalog-about__more p span {
  color: white;
  font-size: 25px;
  background-color: #a4161a;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
}
.catalog a {
  text-decoration: none;
}
.catalog #loadMore, .catalog #showLess {
  background-color: #a4161a;
  padding: 20px;
  font-size: 25px;
  width: 100%;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.5s;
}
.catalog #loadMore:hover, .catalog #showLess:hover {
  background-color: #161A1D;
}
.catalog .catalog-auto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}
.catalog .catalog-auto img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.img-hover {
  opacity: 0;
  transition: 0.7s;
}

.auto-item {
  border: 1px solid rgba(230, 230, 230, 0.6);
  border-radius: 20px;
  padding: 20px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  opacity: 0;
}
.auto-item.anim {
  opacity: 1;
  -webkit-animation: showHome 1s both;
          animation: showHome 1s both;
}
.auto-item:hover .img-auto {
  opacity: 0;
}
.auto-item:hover .img-hover {
  opacity: 1;
}
.auto-item .img-auto {
  transition: 0.7s;
  z-index: 20;
  cursor: pointer;
}
.auto-item .auto-item__text {
  margin-top: 10px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 150px;
  line-height: 40px;
}
.auto-item .auto-item__text h3 {
  color: #E6E6E6;
  font-size: 30px;
  font-weight: 700;
}
.auto-item .auto-item__text p {
  margin-top: 20px;
  line-height: 35px;
  font-size: 20px;
  color: #E6E6E6;
}

.auto-item__hover {
  position: absolute;
  z-index: 0;
  left: 20px;
}

.auto-item__text-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.auto-item__text-button h2 {
  color: #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auto-item__text-button h2 span {
  color: #E6E6E6;
  font-size: 30px;
  font-weight: 600;
}
.auto-item__text-button button {
  background-color: #a4161a;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  width: 200px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.auto-item__text-button button:hover {
  opacity: 0.8;
}
.auto-item__text-button button:nth-of-type(2) {
  background-color: #161A1D;
  width: 200px;
}

.advantages {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px;
}
.advantages.anim {
  opacity: 1;
  -webkit-animation: showHome 1.5s both;
          animation: showHome 1.5s both;
}

.advantages__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 270px;
  padding: 20px;
  margin: 10px;
  color: #E6E6E6;
}

.line {
  width: 10px;
  height: 300px;
  background-color: #a4161a;
  border-radius: 10px;
}

.advantages__text h2 {
  font-size: 19px;
}

.advantages__text p {
  margin-top: 15px;
  font-size: 15px;
  width: 190px;
  height: 200px;
}

.application {
  background-image: url(/img/fon.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-top: 100px;
}

.application-block {
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E6E6E6;
  text-align: center;
  gap: 20px;
}
.application-block h2 {
  font-size: 50px;
  font-weight: 500;
}
.application-block p {
  font-size: 20px;
  font-weight: 200;
  width: 65%;
  line-height: 40px;
}
.application-block form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.application-block input {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.application-block button {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #a4161a;
  color: #E6E6E6;
  transition: 0.5s;
  cursor: pointer;
}
.application-block button:hover {
  opacity: 0.8;
}

.rental-conditions {
  color: #E6E6E6;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rental-conditions__block {
  width: 50%;
}
.rental-conditions__block li {
  line-height: 40px;
  font-size: 20px;
}
.rental-conditions__block a {
  color: #a4161a;
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
}
.rental-conditions__block h4 {
  font-size: 35px;
  color: #a4161a;
  font-weight: 400;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.faq {
  background-image: url(/img/fonFaq.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;
  transition: 0.5s;
}
.faq h1 {
  color: #E6E6E6;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.faq-item {
  color: #E6E6E6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 50px 10px 50px 10px;
  background: rgba(0, 0, 0, 0.95);
  margin-top: -50px;
}
.faq-item h3 {
  margin-top: 50px;
  line-height: 35px;
  font-weight: 300;
}
.faq-item h3 span {
  color: red;
}

.faq-block {
  opacity: 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  width: 48%;
  transition: 0.5s;
}
.faq-block.anim {
  opacity: 1;
  -webkit-animation: showHome 1.5s both;
          animation: showHome 1.5s both;
}
.faq-block .faq-block__question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  gap: 20px;
  color: #E6E6E6;
}
.faq-block .faq-block__question p {
  font-size: 17px;
}
.faq-block .faq-block__question .btnFaq {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  background: #a4161a;
  border: none;
  border-radius: 20px;
  transition: 0.5s;
}
.faq-block .faq-block__question .btnFaq span {
  width: 30px;
  height: 3px;
  background: #E6E6E6;
  position: absolute;
  left: 5px;
  top: 19px;
  transform: rotate(90deg);
  border-radius: 5px;
}
.faq-block .faq-block__question .btnFaq span:nth-of-type(1) {
  transform: rotate(0deg);
}
.faq-block .faq-block__question .btnFaq:hover {
  opacity: 0.7;
}
.faq-block .faq-block__question .btnFaq.rotate {
  transform: rotate(45deg);
}
.faq-block .faq-block__answer {
  margin-top: 30px;
  font-weight: 500;
  display: none;
  color: #E6E6E6;
  width: 500px;
  line-height: 30px;
}
.faq-block .faq-block__answer.active {
  display: block;
  -webkit-animation: showFaq 0.5s linear;
          animation: showFaq 0.5s linear;
}

@-webkit-keyframes showFaq {
  0% {
    opacity: 0;
    transform: translate3d(0px, -50px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes showFaq {
  0% {
    opacity: 0;
    transform: translate3d(0px, -50px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
hr {
  border: 1px solid rgba(230, 230, 230, 0.1);
  margin-top: 50px;
}

footer {
  margin-top: 100px;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.footer-link nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-link nav ul {
  list-style-type: none;
}
.footer-link nav a {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 20px;
  line-height: 35px;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.footer-link nav a:hover {
  color: #a4161a;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #E6E6E6;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  background-color: #a4161a;
}/*# sourceMappingURL=style.css.map */