* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a4161a;
  border-radius: 20px;
  width: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  -webkit-animation: showBody 1s ease-in;
          animation: showBody 1s ease-in;
}

@-webkit-keyframes showBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1%;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  right: 20px;
  background-color: #161A1D;
  padding-left: 23px;
}

.menuBtn span {
  width: 24px;
  height: 3px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #a4161a;
  transition: all 0.5s;
  border-radius: 2px;
}

.menuBtn span:nth-of-type(2) {
  top: calc(40% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(55% + 5px);
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: 1s;
}
header .logo {
  position: relative;
  height: 80px;
  width: 80px;
  transition: 0.5s;
}
header .logo img {
  left: -5px;
  position: absolute;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  margin-left: -50px;
}
header ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.2s;
  font-weight: 400;
}
header ul a:hover {
  color: #FF4343;
}
header ul a.active {
  color: #FF4343;
}
header button {
  margin-right: 20px;
  background: #a4161a;
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border-radius: 40px;
  transition: 0.5s;
}
header button:hover {
  background-color: black;
  color: #FF4343;
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 1s;
}
.link:hover {
  transition: 1s;
}
.link:hover .link-show {
  transition: 1s;
  opacity: 1;
}
.link .link-show {
  opacity: 0;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  top: 25px;
  position: absolute;
  transition: 0.5s;
}
.link .link-show li {
  margin: 10px;
}
.link .link-show a:hover {
  color: #FF4343;
}
.link .link-show a.active {
  color: #FF4343;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
}
.whatsapp img {
  width: 50px;
}

.messenger-act {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 50px;
}

.messenger-act img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.messenger {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 50px;
}

.messenger img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.ph {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.iconMessenger {
  width: 20px;
}

.form-success {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-success__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-success__message a {
  width: 100%;
}

.reservation {
  padding-top: 100px;
  width: 100%;
  background-color: #161A1D;
  background-image: url(/img/home.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: #E6E6E6;
}
.reservation hr {
  border: 1px solid rgba(230, 230, 230, 0.1);
  margin-top: 10px;
  width: 100%;
}
.reservation .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.reservation .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservation .form-group label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.reservation .form-group label span {
  color: #a4161a;
}
.reservation .form-group input {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
}
.reservation #blockPlace {
  display: none;
}
.reservation #blockPlace.active {
  display: flex;
}
.reservation .form-group__del {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservation .form-group__del label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.reservation .form-group__del label span {
  color: #a4161a;
}
.reservation .form-group__del input {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
}
.reservation .form-group__rec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.reservation .form-group__rec label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.reservation .form-group__rec label span {
  color: #a4161a;
}
.reservation .form-group__rec input {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
}
.reservation button {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #a4161a;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.reservation button:hover {
  opacity: 0.7;
}

.options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.options p {
  font-size: 25px;
}

.options-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.options-group label {
  font-size: 18px;
}
.options-group input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.options-group input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.options-group input + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.options-group input:checked + label::before {
  border-color: #a4161a;
  background-color: #a4161a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.invalid-feedback {
  color: red;
}

.place {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.place p {
  font-size: 20px;
}
.place p span {
  color: #a4161a;
}

.place-button button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #a4161a;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.place-button button:hover {
  opacity: 0.7;
}

.reservation-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.reservation-title h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

hr {
  border: 1px solid rgba(230, 230, 230, 0.1);
  margin-top: 50px;
}

footer {
  margin-top: 100px;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.footer-link nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-link nav ul {
  list-style-type: none;
}
.footer-link nav a {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 20px;
  line-height: 35px;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.footer-link nav a:hover {
  color: #a4161a;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #E6E6E6;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  background-color: #a4161a;
}/*# sourceMappingURL=style.css.map */