@media only screen and (max-width:1260px){ 
    nav{
        display: none;
      }
      header{
        justify-content: center;
        
        height: 60px;
      }
      header .logo{
        top: -20px;
        position: absolute;
        left: 20px;
      }
      .menuBtn{
        display: flex;
        z-index: 105;
      }
      .messenger{
        display: none;
      }
      .messenger-act.act{
        display: flex;
        margin-bottom: 10%;
      }
       nav.popUp{
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        background-color: #161A1D;
        position: fixed;
        padding-top: 2%;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 45vw;
        animation-duration: 0.55s;  /* Время работы анимации */
        animation-fill-mode: both;  /* Поведение анимации */
        animation-name: fadeInDown;/* Имя анимации */
      } 
      header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    
      }
      header ul a{
        color: white;
        font-size: 25px;
        margin-left: 40px;
      }
      header ul a:hover {
          color:#FF4343;
        }

      @keyframes fadeInDown { /* Сама анимация */
        0% {                /* Старт анимации */
            opacity: 0;
            transform: translate3d(100%, 0px, 0px);
        }
        100% {              /* в финале анимации - финал это заданная 0.55s */
            opacity: 1;
            transform: none;
        }
      }
     
      .link .link-show {
        opacity: 1;
        position: static;
        background-color: #161A1D;
        text-align: left;
        padding: 0;
        margin: 0;
        margin-left: 15px;
      }
      .link .link-show a:nth-of-type(2){
        margin-top: 20px;
        margin-left: -65px;
   
      }

      .wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .slider-container{
        width: 100%;
      }
      .wrapper-left{
        width: 100%;
        align-items: center;
      }
}

@media only screen and (max-width:992px){
    .line{
        display: none;
    }
    .wrapper-left p{
        text-align: center;
    }
    .additional-block h2{
        width: 90%;
    }
    .additional-item, .equipment-item{
        margin-right: 0px;
        
    }
    .additional-item p, .equipment-item p{
        width: 300px;
    }
    .prev-button:hover, .next-button:hover{
        background-color: rgb(0, 0, 0, .7);
    }
    .prev-button:active, .next-button:active{
        background-color: rgb(0, 0, 0, 1);
    }
}




@media only screen and (max-width:768px){ /*-------ГОТОВО-------*/

    .footer-link{
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        gap: 20px;
    }
    footer{
        margin-top: 20px;
    }
    .footer-link nav{
        justify-content: center;
    }
    .footer-link nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 0px;
    }
    .footer-bottom{
        margin-top: 0px;
    }
    iframe{
        width: 100%;
    }

}



/* МОБИЛКА*/
@media only screen and (max-width:570px){  
    nav.popUp{
        width: 90vw;
        padding-top: 7%;
    }

    .footer-bottom{
      flex-wrap: wrap;
      text-align: center;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
    header .logo{
      left: 0px;
    }

}
@media only screen and (max-width:400px){
    nav.popUp{
        width: 100vw;
    }
}
@media only screen and (max-width:340px){
    .additional-item, .equipment-item{
        margin-right: 0px;
        width: 100%;
    }
    .additional-item p, .equipment-item p{
        width: 100%;
    }
} 
